<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PIM-System!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <span class="text-white font-bold"><a href="{{ path('product_index') }}"> PIM System</a></span>
                    </div>
                    <div class="hidden md:block">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="{{ path('product_index') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Products</a>
                                <a href="{{ path('product_create') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex items-center">
                    <a href="{{ is_granted('IS_AUTHENTICATED') ? path('app_logout') : path('app_login') }}"
                       class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                        {{ is_granted('IS_AUTHENTICATED') ? 'Logout' : 'Login' }}
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
